i {
    padding-right: 0.5rem;
    -webkit-transition: all 300ms ease-in 0s;
    -moz-transition: all 300ms ease-in 0s;
    -o-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
}

.ui-state-active i {
    padding-right: unset;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

figcaption {
    padding-top: 0 !important;
}

.sqs-block {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.image-block-outer-wrapper {
    padding-top: 1rem !important;
}

.no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

h1, h2, h3, h4, h5 {
    margin: 1rem auto;
}

.fun {
    background-color: aqua;
}
